
ul{
  padding: 0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  height: 100%;
  background: #F8B400;
  color: gray;

}
.welcome-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome-container h1{
  margin: 15px 5px 0;
  font-size: 60px;
  color: #fff;
  font-weight: 900;
}
.welcome-container p{
  margin: 5px 0;
}
.login-container{
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.login-box{
  height: fit-content;
  width: 30%;
  background: #fff;
  border-radius: 10px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-box h2{
  text-align: center;
  margin: 5px 0;
  font-size: 30px;
}

.form-control{
  /* height: 30px;
  width: 100%;
  border: none;
  background: #f8f8f8;
  border-radius: 15px; */


  width: 100%;
  height: 30px;
  border-radius: 8px;
  border: solid 1px lightgray;
  outline-color: #7A82FD;
  appearance: none;

}

input:-webkit-autofill {
    box-shadow: 0 0 0 1000px white inset;
}



.login-box li{
  /* width: 100%; */
  margin: 5px 0;
}


/* ボタン部品 */
.login-button{
  padding: 5px 30px;
  /* padding: 7px 22px; */
  border: none;
  border-radius: 18px;
  /* border-radius: 20px; */
  background: #7A82FD;
  color: #fff;
  margin: 0 5px;
  font-size: 16px;
}

.register-button{
  /* padding: 7px 40px; */
  padding: 5px 30px;
  border-radius: 20px;
  background: #FF6B6B;
  color: #fff;
  margin: 0 5px;
  font-size: 16px;
}


.login-item-box{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}



/* チェックボックスカスタマイズ */
input[type=checkbox] {
    display:none
}
.form-check-label{
  position:relative;
  padding:5px 30px;
  cursor:pointer;
}
.form-check-label:before{
  width:16px; /* チェックボックスの幅 */
  height:16px; /* チェックボックスの高さ */
  left:5px;
  border:1px solid #ccc; /* チェックボックスの枠 */
  border-radius:5px;
  margin-top:-8px;
}
.form-check-label:after,
.form-check-label:before{
  position:absolute;
  content:"";
  top:50%
}
.form-check-label::after {
  position: absolute;
  width: 7px;
  height: 13px;
  top: 18px;
  left: 11px;
  border-right: 2px solid gray; /* チェックマークの色 */
  border-bottom: 2px solid gray; /* チェックマークの色 */
  content: '';
  margin-top: -12px;
  opacity: 0;
  transform: rotate(45deg);
}
input[type=checkbox]:checked + .form-check-label::after {
  opacity: 1;
}

.login-box p{
  font-size: 13px;
  color: red;
  margin: 5px;
}

.is-invalid:invalid{
  border: 1px solid red;
}

@media screen and (max-width: 960px){
  .login-box{
    width: 70%;
  }
  .welcome-container h1{
    font-size: 40px;
  }

}
