
body{
  /* ↓元 */
  /* margin: 0;
  padding-top: 50px; */

  font-family: "YuGothic", "Yu Gothic", "ヒラギノ角ゴシック","Verdana","Helvetica", sans-serif;
  /* background: #FBFAF8; */
  /* background: #FCFCFC; */

  margin: 0;
  padding-top: 50px;




}
a{
  text-decoration: none;
}
/* 部品 */
.allow-right-icon{
  border-top: solid 2px #a9a9a9;
  border-right: solid 2px #a9a9a9;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
}
.allow-right-link{
  border-top: solid 2px #a9a9a9;
  border-right: solid 2px #a9a9a9;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  display: block;
}
.allow-left-link{
  border-left: solid 2px #a9a9a9;
  border-bottom: solid 2px #a9a9a9;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  display: block;
}




/* トップウェルカムページ ---------------------------------------------*/
.top-wapper, .top-title-container, .top-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.top-text-container p, .top-title-container h1, .top-title-container h2{
  margin: 5px 0;
}
.top-link-container{
  display: flex;
  width: 20%;
}
.top-link-container a{
  width: 100%;
  text-align: center;
}



/* ---------------------------------------------- */


/* ヘッダー　ナビ ----------------------------------------------*/
/* class名　統一化OK！ */

header{
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.header-wapper{
  background: #add8e6;
  height: 50px;
  display: flex;
  position: relative;
  z-index: 2;

}
.hum-container{
  width: 100%;
}
.user-container{
  justify-content: end;
}


/* <---- 枠ベース */
/* ----> 部品 */


/* ナビコンテンツ --------*/

.nav-content{
  width: 200px;
  height: 100vh;
  background: #add8e6;
  position: absolute;
  /* top: 50px; */
  top: 50px;
  left: 0;

  /* menuクリックでtoggle */
  transform: translateX(-100%);
  transition: 0.7s;


}
.nav-list{
  margin: 0px;
  height: 100%;
  padding: 15px;
}
.nav-toggle{
  transform: translateX(0%);
  transition: 0.7s;

}



/* ログナビコンテンツ --------*/
.lognav-content{
  width: 200px;
  height: 80px;
  background: #A2D7D4;
  position: absolute;
  /* header-wapperの下に隠すため */
  top: 50px;
  right: 0;

  transform: translateY(-100%);
  transition: 0.7s;

}
.lognav-list{
  margin: 0px;
  height: 100%;
  padding: 2px;
}

.lognav-toggle{
  transform: translateY(0%);
  transition: 0.7s;
}

/* 共通 */
.nav-list li, .lognav-list li{
  list-style-type: none;
  margin: 10px 0;
  text-align: center;
}


/* アイコン --------*/
.hum-icon{
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.hum-icon span{
  border: 1px solid #a9a9a9;
  width: 30px;
  margin: 5px 10px;
}
.user-icon{
  border: 1px solid #a9a9a9;
  border-radius: 25px;
  width: 37px;
  height: 37px;
  margin: 5px 10px;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}
.user-icon p{
  margin: 5px 0;
  font-size: 13px;
}

/* ---------------------------------------------- */


/* カレンダー  index.blade ----------------------------------------------*/
/* 統一化OK */

main{
  width: 100%;
  height: 93vh;
  display: flex;
  /* justify-content: center; */

  /* ↓つけてヘッダー下で固定したいけど、nav使えなくなる＞＜ どうしよ */
  /* position: fixed; */


}
.calendar-wapper{
  width: 100%;
  height: 90%;
  /* height: 98%; */
  display: flex;
  flex-direction: column;
  margin: 10px;
  /* margin: 10px; */


}
.calendar-container{
  width: 100%;
  display: flex;
  /* 追してみる */
  padding: 5px 0;

}
.calendar-box{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.link-box{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}
.link-box div{
  display: flex;
}
table{
  width: 100%;
  height: 90%;
  border-collapse: collapse;
  table-layout: fixed;
}
.calendar-info-wapper{
  height: 100%;
  width: 20%;
  background: #a9a9a9;
  display: flex;
  flex-direction: column;


  display: none;

}
/* infoトグル */
.info-toggle{
  display: block;
}

.calendar-info-container{

  width: 20%;
  height: 100%;
  margin: 0;

}
/* 元↑ */
/* <---- 枠ベース */
/* ----> 部品 */

.text-year{
  font-size: 25px;
  margin: 0 0 3px;
}
.text-month{
  font-size: 18px;
  margin: 0;
}
.link-box div a{
  margin: 0 5px;
}
td{
  border: solid 1px #a9a9a9;
  height: 90px;
  width: 90px;
  margin: 0;
  vertical-align: top;

}
th{
  height: 10px;
  font-size: 10px;
}
.tr-line{
  display: none;
}
td a{
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
}


/* ここから下はカレンダー枠の中詳細　のちほどカスタム */
td .text-day{
  text-align: right;
  margin-top: 2px;
  margin-bottom: 3px;

}
td .text-sched{
  font-size: 12px;
  margin: 2px;
  background: #e6e6fa;
  border-radius: 2px;
}
.text-color{
  color: #d3d3d3;
}
td .text-plus{
  text-align: right;
  margin: 2px;
  font-size: 13px;
}
/* ---------------------------------------------- */


/* 編集リスト　editlist.blade ----------------------------------------------*/
/* class名　統一化OK */

.com-wapper{
  width: 100%;
  height: 100%;
  display: flex;

  justify-content: center;
}
.com-container{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.com-box{
  border: 1px solid #a9a9a9;
  border-radius: 15px;
  display: flex;
  /* justify-content: center; */
}
.list-box-position{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 10px;
}
.list-content-position{
  display: flex;
  width: 100%;
  border-bottom: 1px solid #a9a9a9;
  padding: 20px 0;
}
.list-content-box{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.list-content-box2{
  width: 10%;
  display: flex;
  align-items: center;
}

/* <---- 枠ベース */
/* ----> 部品 */


.list-item{
  display: flex;
  padding: 0;
}
.list-item li{
  width: 100%;
  list-style-type: none;
  margin: 8px;
}
.item-text{
  font-size: 13px;
  color: #a9a9a9;
}
.list-content-position:last-child{
  border-bottom: none;
}

/* ---------------------------------------------- */



/* 編集画面　edit.blade---------------------------------------------- */
/* class名　統一化OK */

.edit-box{
  display: flex;
  flex-direction: column;
  border: 1px solid #a9a9a9;
  border-radius: 15px;
  height: 400px;
  justify-content: center;
  align-items: center;

}
dl{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin: 0;
}

.edit-submit-content{
  width: 100%;
  margin: 15px 30px 5px 0;
  display: flex;
  justify-content: end;
}
.edit-delete-content{
  display: flex;
  width: 100%;
  justify-content: end;

}

/* <---- 枠ベース */
/* ----> 部品 */

dt{
  width: 30%;
  margin: 10px 0;
}
dd{
  width: 60%;
  margin: 10px 0;
}
.edit-delete-content div{
  margin: 5px 30px 5px 0;
}


/* 一旦放置　あとでデザイン一括指定 */
input{
  /* border: none; */
  border: 1px solid #a9a9a9;
  border-radius: 3px;
  width: 200px;
  height: 30px;
  outline: none;
}
select{
  border: none;
  border-bottom: 1px solid #a9a9a9;
  width: 100px;
  outline: none;
}
/* ---------------------------------------------- */





/* 新規追加画面 create.blade.php ----------------------------------------------*/
/* class名統一化OK */

.create-box{
  border: 1px solid #a9a9a9;
  border-radius: 15px;
  height: 400px;
  display: flex;
  justify-content: center;

}
.create-dl-content dt{
  width: 30%;
  margin: 13px 0;
}
.create-dl-content dd{
  width: 60%;
  margin: 13px 0;
}
.create-submit-content{
  display: flex;
  justify-content: end;
}
/* .create-dd-box{
  width: 90% !important;
  display: flex;
  justify-content: end;
}
.create-dd-box div{
  width: 60%;
} */
.create-dd-box{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.create-dd-content{
  margin: 20px 0 0 0;
}


/* <---- 枠ベース */
/* ----> 部品 */

.create-dl-content{
  margin: 20px 0;
}
.create-submit-content div{
  margin: 5px 30px 5px 0;
}
.create-dd-content input{
  width: 100px !important;
}
.bali-text{
  margin: 3px 0;
  font-size: 12px;
  color: red;
}
/* ---------------------------------------------- */


/* percentage.blade.php ----------------------------------------------*/
/* .com-wapper{  共通
  width: 100%;
  height: 100%;
  display: flex;

  justify-content: center;
}
.com-container{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
} */
.percentage-info-box{
  display: flex;
  width: 100%;
}
.percentage-box{
  border: 1px solid #a9a9a9;
  border-radius: 15px;

  /* justify-content: center; */
}
.percentage-link-box{
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: end;
  margin: 5px 0;
}

/* <---- 枠ベース */
/* ----> 部品 */
.percentage-info-box h2{
  width: 100%;
  margin: 5px 0;
}
.percentage-content{
  display: flex;
  width: 100%;
  margin: 0 10px;
  justify-content: center;
}
.percentage-box dl{
  margin: 10px 0;
}
.percentage-box dt{
  margin: 20px 0;
  width: 20%;
}
.percentage-box dd{
  display: flex;
  margin: 20px 0;
  width: 70%;
  justify-content: center;
}
.percentage-box p{
  margin: 0 0 0 10px;
  width: 50px;
}
.chart-outer{
  height: 20px;
  width: 100%;
  border: 1px solid #a9a9a9;
  border-radius: 15px;
  background: #a9a9a9;
}

/* 動かす部品 */
.chart-inner{
  background: red;
  /* width: 33%; */
  height: 20px;
  border-radius: 15px 0 0 15px;

  animation-name: chart;
  animation-duration: 1s;
}
@keyframes chart {
  0%{
    width: 0;
  }
  /* 100%{
    width: 30%;
  } */

}
/* ---------------------------------------------- */


/* show.blade.php ----------------------------------------------*/
/* .show-box{ */
  /* border: 1px solid #a9a9a9; */
  /* border-radius: 15px;
  box-shadow: 0px 9px 14px 0px #E4E4E4;
  background: #FCFCFC;
}
.show-box dl{
  flex-direction: column;
  margin: 10px;
  width: auto;


}
.show-content{
  display: flex;
  width: 100%;
  border-bottom: 1px solid #a9a9a9;
  padding: 20px 0;
  justify-content: center;

}
.show-box dd {
  width: 100%;

}
.show-item-link{
  display: flex;
  justify-content: end;
}
.show-item-link{
  width: 30%;
  margin-right: 10px;
}
.show-item-link a{
  background: #a9a9a9;
  width: 50px;
} */
/* 上元 */

.show-box{
  display: flex;
  flex-direction: column;

  /* border-radius: 15px;
  box-shadow: 0px 9px 14px 0px #E4E4E4;
  background: #FCFCFC; */
}
.show-content{
  border-radius: 15px;
  box-shadow: 0px 4px 5px 0px #E4E4E4;
  background: #FCFCFC;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  /* display: flex;
  width: 100%;
  border-bottom: 1px solid #a9a9a9;
  padding: 20px 0;
  justify-content: center; */

}
.show-content dl{
  flex-wrap: nowrap;
  margin: 10px;
}
.show-item-link{
  display: flex;
  justify-content: center;
}
.show-item-link a{
  padding: 7px 23px;
  background: lightgray;
  border-radius: 28px;
  margin: 0;

}
.show-content dd{
  margin: 2px 0 !important;
}
.show-done{
  opacity: 0.6;
  background: lightgray;
}
.show-active:hover {
  background-color: skyblue;
  /* opacity: 0.6; */
}
.com-container h2{
  border-bottom: 2px solid #B7F2E1;
  margin-bottom: 0;
}
.com-container h3{
  margin: 20px 0 0 0;
}
.com-container p{
  margin: 10px 0;
}


/* <---- 枠ベース */
/* ----> 部品 */

/* ---------------------------------------------- */

/* create部品とりあえず */
.create-form-toggle{
  display: none;
  /* visibility: collapse; */
}
.create-form-togglein{
  display: block;
  /* visibility: visible; */
}
.radio-button, .check-button{
  display: none;
}
.radio-text{
  padding: 10px 20px;
  background: lightgray;
  border-radius: 18px;
}
.radio-button:checked +label{
  background: skyblue;
}


.check-button:checked + label{
  background: skyblue;
}
.check-text{
  padding: 8px;
  background: lightgray;
  border-radius: 15px;
}
