

/* 共通*/
.common-container{
  width: 100%;
  display: flex;
  justify-content: center;
  color: gray;

}
.percentage-content, .editlist-content{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 40px 0;
}

/* .percentage-content h2, .editlist-content h2, .form-content h2 */
.percentage-content h2, .editlist-content h2, .form-content h2{
  margin: 5px 0;
  border-bottom: 2px solid lightgray;
  width: fit-content;
  color: gray;
  font-size: 25px;
}

.percentage-table-box, .editlist-table-box, .show-table-box{
  width: 100%;
  padding-bottom: 40px;
}

.percentage-table, .editlist-table, .show-table{
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
}

.percentage-table thead tr, .editlist-table thead tr{
  background: #FFCC66;
  color: #fff;
}

.percentage-table th, .editlist-table th{
  height: 40px;
}
.percentage-table th:first-child,.editlist-table th:first-child{
  border-radius: 10px 0 0 10px;
}
.percentage-table th:last-child,.editlist-table th:last-child{
  border-radius: 0 10px 10px 0;
}
.percentage-table td:first-child,.editlist-table td:first-child, .show-table td:first-child{
  border-radius: 10px 0 0 10px;
}
.percentage-table td:last-child,.editlist-table td:last-child, .show-table td:last-child{
  border-radius: 0 10px 10px 0;
}

.percentage-table tr, .editlist-table tr, .show-table tr{
  background: #fff;
}

.no-data-box{
  display: flex;
  justify-content: center;
}






/* percentage --------------------------------------------------------- */
/* percentage infobox 部品 --------*/
.percentage-info-box{
  display: flex;
  justify-content: center;
  width: 100%;
}
.percentage-info-box div{
  /* width: 60%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.percentage-info-box a{
  display: block;
  padding: 10px;
  margin: 0 10px;
}
.percentage-info-box p{
  font-size: 20px;
  margin: 10px 0;
}
/* 　CSSアニメ */
.percentage-info-box a:hover{
  border-radius: 20px 20px;
  background: #fff;
}


/* percentage table 部品 -----------*/
.percentage-table td{
  height: 90px;
  padding: 10px 20px;
  text-align: center;
}
.chart-td{
  width: 85%;
  text-align: left !important;
}


/* percentage チャート部品 ----------*/
.chart-box{
  display: flex;
  flex-direction: column;
}
.chart-box p{
  margin: 10px 0;
}

.chart-outer{
  height: 10px;
  width: 100%;
  border-radius: 12px;
  /* background: #FFEBD4; */
  background: #E9E8E8;
  overflow: hidden;
}
/* CSSアニメ */
.chart-inner{
  background: #F8B400;
  height: 10px;
  border-radius: 12px 0 0 12px;

  animation-name: chart;
  animation-duration: 2s;
}
@keyframes chart {
  0%{
    width: 0;
  }
}


/* editlist --------------------------------------------------------- */

/* editlist table 部品 */
.editlist-table td{
  height: 40px;
  padding: 5px;
  text-align: center;
}

.editlist-table tr:nth-child(even){
  background: #ececec;
}
.table-a{
  display: inline-block;
}



/* show --------------------------------------------------------- */
.show-content{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 40px 0;

}
.show-table td{
  height: 40px;
  padding: 10px 20px;
}
.show-button-box{
  display: flex;
  justify-content: end;
}

/* show ボタン部品 */
.show-table a{
  color: #fff;
}
.show-active-button{
  padding: 5px 30px;

  border-radius: 18px;
  background: #F8B400;
}
.show-done-button{
  padding: 5px 15px;

  border-radius: 18px;
  background: #FFEBD4;

}

/* ボタン　アニメ */
.show-active-button:hover{
  background: #ffc82166;
  background: rgba(255, 200, 33, 0.76);
}



/* form --------------------------------------------------------- */

.form-content{
  display: flex;
  flex-direction: column;
  width: 43%;
  margin: 40px 0;
}

.form-outer-box{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
.form-box{
  height: fit-content;
  width: 100%;
  background: #fff;
  border-radius: 10px;
}
.form-box ul{
  padding: 0;
  margin: 30px 20px;
}
.form-box li{
  margin: 10px 0;
}


/* 入力フォーム部品 */
.text-form, .select-form, .number-form{
  width: 100%;
  height: 30px;
  border-radius: 8px;
  border: solid 1px lightgray;
}
.select-form{
  width: 30%;
}
.number-form{
  width: 100px;
}


/* ボタンボックス */
.week-list-box{
  margin-bottom: 5px;
}
.quick-list-box{
  display: flex;
  background: lightgray;
  border-radius: 18px;
  width: fit-content;
}
.form-submit-box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 30px 0;
}


/* ボタン */
.submit-button, .delete-button{
  padding: 7px 22px;
  border-radius: 18px;
  color: #fff;
  border: none;
}
.submit-button{
  background: #F8B400;
}
.delete-button{
  background: #FF6B6B;
  margin: 0 10px;
}

.radio-text{
  padding:7px 20px;
}
.check-text{
  padding: 8px;
  background: lightgray;
  border-radius: 15px;
}

.radio-button, .check-button{
  display: none;
}


/* ボタンアクティブ*/
.radio-button:checked +label{
  background: #F8B400;
  color: #fff;
  border-radius: 20px;
}
.check-button:checked + label{
  background: #F8B400;
  color: #fff;
}


/* JSでボックスイン　部品 */
.form-toggle, .nav-toggle{
  display: none;
}


.form-togglein{
  display: block;
}

/* バリデーションテキスト */
.bali-text{
  margin: 3px 0;
  font-size: 12px;
  color: #FF6B6B;
}

/* フラッシュメッセージ　ボックス・部品 */
.flash-message-box{
  display: flex;
  justify-content: center;
}
.flash-message{
  width: 200px;
  height: 30px;
  border-radius: 15px;
  background: #E4F0FE;
}
.flash-message-box p{
  margin: 3px 0;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  color: #000;
}






/* レスポンシブ ---------------------------------------------------------　*/
/* PC〜 */
@media screen and (min-width: 961px){

}

/* 〜タブレットmax */
@media screen and (max-width: 960px){





  .show-content, .editlist-content,.percentage-content, .form-content{
    width: 90%;
  }

  .side-nav{

    transform: translateX(-100%);
    z-index: 2;
    position: absolute;
    left: 0;
    width: 75%;
    background: #fff;
    transition: 0.7s;


  }
  .nav-toggle{
    display: block;
    transform: translateX(0%);
  }


  /*
  .quick-list-box{
    display: flex !important;
    flex-wrap: wrap !important;
  }
  .form-table tbody tr{
    display: flex !important;
    flex-direction: column !important;
  }
  .form-table td{
    height: auto !important;
    padding: 5px 20px !important;
  }
  .text-form{
    width: 100% !important;
  }
  .number-form, .selecr-form{
    width: 20% !important;
  }
  .radio-text{
    padding: 6px 18px !important;
    margin: 3px !important;
  } */

}
